<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Cars

    <a data-toggle="collapse" href="#user_cars_new_form">
      Add car
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.cars.each do |car| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to car.id, car_path(car) %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="user_cars_new_form">
        <%= render partial: "users/user_cars_new_form" %>
      </div>
    </div>

  </ul>
</div>
