<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Cars

    <a data-toggle="collapse" href="#manufacturer_cars_new_form">
      Add car
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @manufacturer.cars.each do |car| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to car.id, car_path(car) %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to car, method: :delete, data: { confirm: "Do you really want to delete this car" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="manufacturer_cars_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
