<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @manufacturer, partial: "card", as: :manufacturer %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "manufacturers/manufacturer_cars" %>
  </div>
</div>
